<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <syncJobs>
    <syncJob>
      <source><!--Full Path of source folder--></source>
      <target><!--Full Path of target folder--></target>
      <fileTypes>
        <!--At least has one <type> here-->
        <type>*.*</type>
        <!-- File types
        <type>*.ascx</type>
        <type>*.css</type>
        -->        
      </fileTypes>
    </syncJob>
  </syncJobs>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>